:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "card-bold-it";
  src: url("assets/fonts/gill-sans-2/Gill Sans Bold Italic.otf") format(opentype);
}

@font-face {
  font-family: "card-bold";
  src: url("assets/fonts/gill-sans-2/Gill Sans Bold.otf") format(opentype);
}

@font-face {
  font-family: "pokemon-title";
  src: url("assets/fonts/pokemon/Pokemon Solid.ttf") format(truetype);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("assets/whos-that-bgrd.png");
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;          
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: pokemon-title;
  font-size: 6.5rem;
  color: rgb(248, 223, 0);
  text-shadow: -2px -2px 0 #2e1b99, 4px -4px 0 #3521a8, -4px 4px 0 #3521a8, 4px 4px 0 #3521a8;
  margin: -5rem 0 -1rem 0;
}

.sub-heading {
  font-family: card-bold;
  background-color: red;
  color: white;
  border: solid 6px #2e1b99;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  max-width: 13em;
  padding: .5rem .8rem 0 .8rem;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  overflow-x: auto;
  justify-content: center;
  max-width: 1000px;
}

.card {
  margin: 0.8rem;
  width: 2rem;
  min-width: 150px;
  border: solid 5px yellow;
  height: 180px;
  border-radius: 0.5rem;
}

.card-inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sprite-container {
  display: flex;
  background: white;
  margin-top: 0rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: 5rem;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(179, 179, 179);
  box-shadow: rgb(66, 66, 66) 0 2px 5px;
}

.sprite {
  height: 6.5rem;
}

.pokeName {
  font-family: card-bold;
  color: black;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container > p {
  margin: 0;
  font-family: card-bold-it;
  font-size: 1.5rem;
  color: black;
}
