:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  overflow-x: auto;
  justify-content: center;
}

.card {
  margin: 0.8rem;
  width: 2rem;
  min-width: 150px;
  border: solid 5px yellow;
  height: 180px;
  border-radius: 0.5rem;
}

.card-inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sprite-container {
  display: flex;
  background: white;
  margin-top: 0rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: 5rem;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}

.sprite {
  height: 6.5rem;
}

.poke-name {
}
